<h1>Products#index</h1>
<%= link_to "レビュー一覧", :controller => :"reviews", :action => :"index" %>
<% @products.each do |product| %>
<div>
 <div>
   <p><%= image_tag product.image_product_url(:thumb) %></p>
   <p><%= product.name %></p>
   <p><%= product.note %></p>
   <p><%= link_to 'レビューを書く', :controller => :reviews, :action => :new, :id => product.id %></p>
 </div>
</div>
<% end %>
