<% content_for :title do %>
Sharm 商品一覧
<% end %>
<h1>Products#index</h1>
<%= link_to "レビュー一覧", :controller => :"reviews", :action => :"index" %>
<br><%= page_entries_info @products %>
<% @products.each do |product| %>
<div>
 <div>
   <p><%= image_tag product.image_product_url(:thumb) %></p>
   <p><%= product.name %></p>
   <p><%= product.note %></p>
   <p><%= bar_chart product.reviews.group(:value).count, width: "500px", height: "300px" %></p>
   <% # 評価の平均値を表示 %>
   <% product.reviews.first(5).each do |f| %>
     <p><%= f.user.name %></p>
     <p><%= f.title %></p>
     <p><%= f.value %></p>
   <% end %>   
<p><%= link_to 'レビューを書く', :controller => :reviews, :action => :new, :id => product.id %></p>
 </div>
</div>
<% end %>

<%= paginate @products %>
