<h1>Reviews#new</h1>
<%= link_to "レビュー一覧", :action => :"index" %>
<%= link_to "商品一覧", :controller => :"products", :action => :"index" %>
<%= form_for(@review, url: {:controller => :reviews, :action => :create}) do |f| %>
  <div>
    <% # 投稿者はログインユーザーで固定 %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= current_user.name %>
  </div>
  <div>
    <% # 商品名を変えられないように固定 %>
    <%= f.hidden_field :product_id, :value => @product.id %>
    <%= @product.name %>
  </div>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :note %>
    <%= f.text_field :note %>
  </div>
  <div>
    <%= f.label :value %>
    <%= f.number_field :value %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
